{{ define "main" }}

{{ .Content }}

{{ $lang := $.Page.Language.Lang }}
{{ $scheduleData := $.Site.Data.schedule }}
{{ $slotsData := $.Site.Data.slots }}
{{ $roomsData := $.Site.Data.rooms }}


{{ $maxEnd := 0 }}
{{ range $slotsData }}
  {{ if gt .row.end $maxEnd }}
    {{ $maxEnd = .row.end }}
  {{ end }}
{{ end }}


<nav class="day-tabs" role="tablist" aria-label="Schedule Days">
  {{ range $day := $scheduleData }}
    <a href="#day_{{ $day.day }}" role="tab" aria-selected="false">
      {{- partial "date-long.html" (dict "time" .day "lang" $lang) -}}
    </a>
  {{ end }}
</nav>


<section class="schedule{{ if $.Params.horizontal }} horizontal{{ end }}">
  {{ range $day := $scheduleData }}
    {{ $time := split $day.start ":" }}
    {{ $dayStartH := index $time 0 }}
    {{ $dayStartM := index $time 1 }}
    {{ $time := split $day.end ":" }}
    {{ $dayEndH := index $time 0 }}
    {{ $dayEndM := index $time 1 }}

    <article id="day_{{ $day.day }}" class="day" style="--rooms: {{ len .rooms }}; --end: {{ $maxEnd }};">
      <h2>{{- partial "date-long.html" (dict "time" .day "lang" $lang) }}</h2>

      
      {{ with (index .rooms 0) }}
        {{ range .slots }}
          {{ $slot := index (where $slotsData "key" .slot) 0 }}
          {{ $time := split $slot.start ":" }}
          {{ $hh := index $time 0 }}
          {{ $mm := index $time 1 }}
          <div class="slot" style="--duration: {{ $slot.duration }}; --row-start: {{ $slot.row.start }}; --row-end: {{ $slot.row.end }};">
            <span class="hh">{{ $hh }}</span>
            <span class="mm">{{ $mm }}</span>
          </div>
        {{ end }}
      {{ end }}

      
      {{ range $index, $room := .rooms }}
        {{ range where (where $roomsData "key" $room.room) "skip" "!=" true }}
          <div class="room {{ if (modBool $index 2) }}even{{ end }}" style="--room: {{ $index }};">
            <h3>
              {{ .label }}
              {{ if .description }}
                <small>{{ .description }}</small>
              {{ end }}
            </h3>
          </div>

          {{ range $room.slots }}
            {{ $sessionPage := index (where $.Site.AllPages "Params.key" .talk) 0 }}
            {{ $slot := index (where $slotsData "key" .slot) 0 }}
            {{ $time := split $slot.start ":" }}
            {{ $hh := index $time 0 }}
            {{ $mm := index $time 1 }}
            <div class="session format-{{ $sessionPage.Params.format }} tag-{{ anchorize (delimit ($sessionPage.Params.tags | default (slice)) " " ) }}"
                 style="--room: {{ $index }}; --row-start: {{ $slot.row.start }}; --row-end: {{ $slot.row.end }};"
                 aria-label="{{ $sessionPage.Title }} in {{ .label }}">

              <span class="start">
                <span class="hh">{{ $hh }}</span>
                <span class="mm">{{ $mm }}</span>
              </span>
              {{ partial "schedule-session" $sessionPage }}
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </article>
  {{ end }}
</section>

{{ end }}

{{ define "scripts" }}
<script>
  function checkLinks() {
    const currentDay = window.location.hash;
    const tabs = document.querySelectorAll('nav.day-tabs a');

    tabs.forEach(tab => {
      tab.classList.toggle('active', tab.getAttribute('href') === currentDay);
    });

    if (!currentDay && tabs.length > 0) {
      tabs[0].click(); 
    }
  }

  window.addEventListener('load', checkLinks);
  window.addEventListener('hashchange', checkLinks);
</script>
{{ end }}