<footer>
    <div class="bottom-content">
        <div class="footer-header">
            <div class="follow">
                <ul class="social-list">
                    {{ range .Site.Data.footer.follow }}
                    <li>
                        <a href="{{ .url }}" class="social" rel="noopener noreferrer" target="_blank">
                            {{ partial "icon.html" .name }}
                            {{ .name }}
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>


            <div class="footer-footer">
                {{ if .Site.Params.logos.footer }}
                <img src="{{ .Site.BaseURL }}{{ .Site.Params.logos.footer }}" alt="{{ .Site.Title }}">
                {{ end }}
            </div>
        </div>

    </div>
</footer>