<div class="countdown-container">
  <div class="countdown-header">
    <h5>Secure your spot at JSON Schema Conference 2025</h5>
  </div>
  
  <div id="countdown" class="countdown-timer">
    <div class="countdown-item">
      <span id="days">--</span>
      <label>Days</label>
    </div>
    <div class="countdown-item">
      <span id="hours">--</span>
      <label>Hours</label>
    </div>
    <div class="countdown-item">
      <span id="minutes">--</span>
      <label>Minutes</label>
    </div>
    <div class="countdown-item">
      <span id="seconds">--</span>
      <label>Seconds</label>
    </div>
  </div>
</div>
