<section class="home-section tickets" style="padding:0 0 4rem 0;">

  <h1 class="section-header tickets-title">{{ with .Get "title" }}{{ . }}{{ else }}Tickets{{ end }}
  </h1>
  <div class="tickets-info-section">
    <div class="tickets-info-content">
      <h6 class="tickets-description">
        "Be part of the JSON Schema Conference — connect with the community, learn from experts, and gain skills you can apply right away."
      </h6>
      <div class="tickets-main-cta">
        <a class="btn primary ticket-main-btn"
            href="#"
            style="pointer-events: none; opacity: 0.6; cursor: not-allowed;"
            target="_blank"
            rel="noopener noreferrer">
          Coming Soon
        </a>
      </div>
    </div>
  </div>
</section>
