<section class="home-section tickets" style="padding:0 0 4rem 0;">

  <h1 class="section-header tickets-title">{{ with .Get "title" }}{{ . }}{{ else }}Tickets{{ end }}
  </h1>
  <div class="tickets-info-section">
    <div class="tickets-info-content">
      <h6 class="tickets-description">
        "Be part of the JSON Schema Conference — connect with the community, learn from experts, and gain skills you can apply right away."
      </h6>
      <div class="tickets-main-cta">
        <a class="btn primary ticket-main-btn" 
            href="https://ticket.apidays.global/event/apidays-paris-2025/3cccd07f-acb2-466e-8d91-cb1f208ecf42?_gl=1*1i6mx1e*_gcl_au*MTY3OTY0ODcyNS4xNzUwMTA0MzA4">
          Get Your Ticket Now →
        </a>
      </div>
    </div>
  </div>
</section>
